:root {
  font-family: 'Swanky and Moo Moo', 'Comic Sans MS', 'Comic Neue', cursive;
  background-color: #f6d834;
  color: #c92525;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6d834;
}

#root {
  min-height: 100vh;
}
